.board
  .panel
    %section.keep
      %header
        %h2 keep

      %ul
        - @board.remarks.keep.each do |keep|
          %li= keep.content

      %form.inline-form{data: {resource: 'keeps', param: 'keep'}}
        .form-item
          %input(type='text')

        .form-item
          %button Add

    %section.problem
      %header
        %h2 Problem

      %ul
        - @board.remarks.problem.each do |keep|
          %li= keep.content

      %form.inline-form{data: {resource: 'problems', param: 'problem'}}
        .form-item
          %input(type='text')

        .form-item
          %button Add

  .panel
    %section.tri
      %header
        %h2 Try

      %ul
        - @board.remarks.tri.each do |keep|
          %li= keep.content

      %form.inline-form{data: {resource: 'tries', param: 'tri'}}
        .form-item
          %input(type='text')

        .form-item
          %button Add

:javascript
  // TODO: tmp
  const permalink = "#{params[:permalink]}";

  const subscription = App.cable.subscriptions.create(
    {
      channel: 'RemarksChannel',
      permalink: permalink
    }, {
    connected: function() {
      console.log('connected');
    },
    disconnected: function() {
      console.log('disconnected');
    },
    received: function(data) {
      console.log(data);
      $(`.${data.kind} ul`).append(`<li>${data.content}</li>`);
    }
  });

  $(function() {
    $('form').on('submit', function(e) {
      e.preventDefault();

      const input  = $(e.target).find('input');
      const button = $(e.target).find('button');

      const content  = input.val();
      const resource = $(e.target).data('resource')
      const kind     = $(e.target).data('param')

      const params = {};
      params[kind] = {content: content};

      input.prop('disabled', true);
      button.prop('disabled', true);

      $.post(`/api/${permalink}/${resource}`, params).then(() => {
        input.val('');

        input.prop('disabled', false);
        button.prop('disabled', false);
      });
    });
  });
