body {
  margin: 0;
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: row;
  height:100%;
}

.panel {
  width: 50%;
  height: 100%;
}

.keep, .problem, .try {
  display: flex;
  flex-direction: column;
}

ul {
  flex: 1;
  overflow: scroll;
}

.keep {
  height: 50%;
  background: yellow;
}

.problem {
  height: 50%;
  background: red;
}

.try {
  height: 100%;
  background: blue;
}

.inline-form {
  display: flex;
  align-items: center;
}

.form-item {
  width: 80%;
  padding: 5px;
}

.form-item input {
  padding:5px;
  border:solid 1px #ccc;
  font-size: 1.2em;
  border-radius: 3px;
}

.form-item  button {
  width: 100%;
  font-size: 1.2em;
  padding: 5px;
  border:solid 1px #ccc;
  border-radius: 3px;
}
