/*
 *= require font-awesome
 */

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: row;
  height:100%;
}

.panel {
  width: 50%;
  height: 100%;
}

.keep, .problem, .tri {
  display: flex;
  flex-direction: column;
  border:solid 1px #ccc;
  box-sizing: border-box;
}

header {
  padding: 5px;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 5px 0;
}

ul {
  flex: 1;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0px 20px;
}

li {
  display: flex;
  align-items: center;
  word-break: break-all;
  padding: 10px 5px;
  border-bottom: solid 1px #ccc;
}

li:nth-child(even) {
  background-color: #ececec;
}

li p {
  margin: 0px;
  flex: 2;
}

li span {
  margin-left: 5px;
}

button.thumbs-up {
  margin-right: 10px;
}

button.thumbs-up, button.remove-button {
  background-color: white;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button.thumbs-up:active, button.remove-button:active{
  box-shadow: inset 0 3px 5px #ccc;
}

.keep, .problem {
  height: 50%;
}

.tri {
  height: 100%;
}

.inline-form {
  display: flex;
  align-items: center;
  padding: 5px;
}

.form-item {
  width: 80%;
}

.form-button {
  width: 20%;
  text-align: center;
  margin-left: 10px;
}

input {
  margin: 5px;
  padding: 5px;
  width: 100%;
  border:solid 1px #ccc;
  font-size: 1.2rem;
  border-radius: 3px;
  outline: none;
}

.submit-button {
  margin: 5px;
  padding: 5px;
  width: 20%;
  background-color: white;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.submit-button:active {
  box-shadow: inset 0 3px 5px #ccc;
}

.error {
  border: solid 1px red !important;
}
