/*
 *= require font-awesome
 */

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: row;
  height:100%;
}

.panel {
  width: 50%;
  height: 100%;
}

.keep, .problem, .try {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.problem {
  border-top: solid 1px #ccc;
}
.try {
  border-left: solid 1px #ccc;
}

header {
  padding: 5px 30px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

h1 {
  margin: 0px;
}

#header {
  display: flex;
}

#header > h1 {
  margin-right: auto;
}

#header > button {
  padding: 10px 20px;
}

h2 {
  margin: 5px 0;
}

ul {
  flex: 1;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  display: flex;
  align-items: center;
  word-break: break-all;
  padding: 10px 20px;
  border-bottom: solid 1px #ccc;
}

li:nth-child(even) {
  background-color: #ececec;
}

li p {
  margin: 0px;
  flex: 2;
}

li span {
  margin-left: 5px;
}

button.thumbs-up {
  margin-right: 10px;
}

button.thumbs-up, button.remove-button, button.close-button {
  background-color: white;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button.thumbs-up:active, button.remove-button:active, button.close-button:active {
  box-shadow: inset 0 3px 5px #ccc;
}

.keep, .problem {
  height: 50%;
}

.try {
  height: 100%;
}

.inline-form {
  display: flex;
  align-items: center;
  padding: 5px;
  box-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

input {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
}

button, input[type=submit] {
  padding: 5px;
  background-color: white;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button:active, input[type=submit]:active {
  box-shadow: inset 0 3px 5px #ccc;
}

.submit-button {
  margin: 5px;
  padding: 5px;
  width: 20%;
}

.submit-button:active {
  box-shadow: inset 0 3px 5px #ccc;
}

.error {
  border: solid 1px red !important;
}

/* Top page*/

.new-kpt-form {
  flex: 1;
  max-width: 540px;
  margin: 0 auto;
  padding-top: 30px;
}

.new-kpt-form label {
  display: inline-block;
  margin-bottom: 5px;
}

.new-kpt-form .form-item {
  margin-top: 10px;
}

.new-kpt-form input[type=submit] {
}

footer {
  box-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

footer p {
  text-align: center;
}
