<!DOCTYPE html>
<html>
  <head>
    <title>Kpt</title>

    <meta name='viewport' content='width=device-width'>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
